node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs
*.log


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

dist/
dist-ssr/
coverage/
*.tsbuildinfo

target/
*.db
*.db-shm
*.db-wal

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json


# JetBrains (IntelliJ, WebStorm, RustRover)
.idea/
*.iws
*.iml
*.ipr

# Visual Studio / Windows
*.suo
*.ntvs*
*.njsproj
*.sln

*.sw?

.eslintcache

# Cypress
cypress/videos/
cypress/screenshots/

# Vitest
__screenshots__/

*.timestamp-*-*.mjs
.nuxt/
.output/