# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Some plugins
git_toolbox_prj.xml

/conventionalCommit.xml
/encodings.xml
/codeStyles/Project.xml
/codeStyles/codeStyleConfig.xml
